---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/posts">
        post
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/show">
            show
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/snowball">
            snowball
        </Link>
        <span class="mx-1">·</span>
        <ThemeToggle iconOnly />
      </nav>
    </div>
  </Container>
</header>
