---
import Moon from "@lucide/astro/icons/moon";
import Sun from "@lucide/astro/icons/sun";
import SunMoon from "@lucide/astro/icons/sun-moon";

interface Props {
	iconOnly?: boolean;
}
const { iconOnly = false } = Astro.props;
---

<button
  id="theme-toggle-button"
  aria-label="Toggle theme"
  class="group flex items-center gap-1.5 text-sm hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
  {!iconOnly && <span id="theme-toggle-label">System</span>}
  <!-- Sun icon (light) -->
  <Sun id="theme-icon-light" size={16} stroke-width={1.5} class="hidden" />
  <!-- Moon icon (dark) -->
  <Moon id="theme-icon-dark" size={16} stroke-width={1.5} class="hidden" />
  <!-- SunMoon icon (system) -->
  <SunMoon id="theme-icon-system" size={16} stroke-width={1.5} class="hidden" />
</button>
