---
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import { SITE } from "@consts";

type Props = {
	title: string;
	description: string;
	type?: "website" | "article";
};

const { title, description, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} type={type} />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main style="padding-top: 90px">
      <slot />
    </main>
    <Footer />
  </body>
</html>
